<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="page">
      <aside class="sidebar">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
        <nav>
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl }}/publications">Publications</a>
          <a href="{{ site.baseurl }}/about">About</a>
          <a href="{{ site.baseurl }}/feed.xml">RSS</a>

          <span class="nav-heading">Utilities</span>
          <a href="{{ site.baseurl }}/cron.html">crontab maker</a>
          <a href="{{ site.baseurl }}/elf.html">ELF format</a>
          <a href="{{ site.baseurl }}/patents.html">patent grid</a>
        </nav>
        <footer class="sidebar-footer">
          {% include svg-icons.html %}
        </footer>
      </aside>

      <main id="main" role="main" class="content">
        {{ content }}
      </main>
    </div>

    {% include analytics.html %}
    <script data-goatcounter="https://adrianlshaw.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
