<!DOCTYPE html>
<html>
<head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>


    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <style>
        body {
            background-color: black;
            color:blanchedalmond;
            padding: 10%;
        }

        a {
            color:cornflowerblue;
        }

        aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color:darkred;
}
    </style>

</head>
<main>
<h1><u>adrianlshaw.com</u></h1>

<aside>
    <p>Foobar jones Foobar jones Foobar jones Foobar jones Foobar jones Foobar jones Foobar jones Foobar jones Foobar jones Foobar jones 
    </p>
</aside>

<h1>Etymology of computer terms</h1>
<p> It is s easy to forget about the origins of some very common computer terms. Quite a few of them rely on a good familiarity with the history of computer development. As a native English speaker I feel like I should be...</p>
<a href="">READ MORE</a>
<p />

<div id="main" role="main" class="container">
    {{ content }}
  </div>

<script data-goatcounter="https://adrianlshaw.goatcounter.com/count"
async src="//gc.zgo.at/count.js"></script>

</main>
</html>